
#wrapper {
    display: grid;
    grid-template-areas: 
    'hd hd hd hd hd'
    'nv nv nv nv nv'
    'st st st st st'
    'ft ft ft ft ft';
    min-height: 100vh;
    border: solid black 1px;
}
    
#head {
    display: grid;
    grid-area: hd;
    background-color: #30735A;
    max-height: 3rem;
}


#nav {
    display: grid;
    grid-area: nv;
   max-height: 5rem;
   background-color: #8C4E2A;
}
    
#section {
    display: grid;
    grid-area: st;
        
}

#footer {
    display: grid;
    grid-area: ft;
}
    


    
 
    