
#wrapper {
    display: grid;
    grid-template-areas: 
    'hd hd hd hd hd'
    'nv nv nv nv nv'
    'st st st st st'
    'ft ft ft ft ft';
}
    
#head {
    display: grid;
    grid-area: hd;
}


#nav {
    display: grid;
    grid-area: nv;
       
}
    
#section {
    display: grid;
    grid-area: st;
        
}

#footer {
    display: grid;
    grid-area: ft;
}
    


    
 
    