* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

nav {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:10vh;
    background-color: hotpink;
    font-family: sans-serif;
}

.navlinks {

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: hotpink;
    align-items: center;
    width: 20%;
    transition: all 0.5s;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color:lightgoldenrodyellow;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 20px;

}


.burger div {
    width: 25px;
    height:3px;
    background-color: lightgoldenrodyellow;
    margin:5px;
    border-radius: 25%;
    transition: all 0.5s;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity:0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateX(100vh);
}

.nav{
    grid-area: nb;
}


