@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');

#wrapper {

    display: grid;
    grid-template-rows: 5% 30% 30% 30% 15%;
    min-height: 1000px;
    
}


#nav {
  
    
    font-family: 'Big Shoulders Text', cursive;
    color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
    
}
.nav-flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        z-index: 100;
        left: 0;
        width: 100%;
        padding: 0;
    }

 .nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
	font-family: 'Big Shoulders Text', cursive;
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}
.nav-flex-row li a:hover{
	background: #E7E7E7;
}

#sec1 {
    
    display: grid;
    
    font-family: 'Big Shoulders Text', cursive;
    color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

#sec2 {
    
    display: grid;
    
    font-family: 'Big Shoulders Text', cursive;
    color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

#sec3 {
    
    display: grid;
    
    font-family: 'Big Shoulders Text', cursive;
    color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

#footer {
    
    display: grid;
    
    font-family: 'Big Shoulders Text', cursive;
    color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}